<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
    {% include navbar.html %}
		 <div class="container-fluid">
				<div class="row">
          {% include sidebar.html %}
          <!-- Blog Entries Column -->
          <div class="col-md-9 col-xs-12 col-md-offset-3">
            {{ content }}
          </div>
        <!-- /.row -->
				</div>
				<hr>
        {% include footer.html %}
			</div>

		<!-- Bootstrap Core JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

    {% include disqus.html %}

    {% include google_search.html %}

    {% include fancybox.html %}
    </body>
</html>
